/* General styling for all devices */
body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items at the top */
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(mintcream, moccasin);
    position: relative; /* Set position relative for /*absolute positioning of fixed;children */
}

/* Landscape orientation: Desktop or phone held horizontally */
@media (orientation: landscape) {
    #controls, #topControls, #otherControls {
        font-size: 2.5vmin;
    }
    #downloadCsvBtn, #deleteData, #toggle-camera-btn, #calibrate-sensor-btn, #take-measurement-btn {
        font-size: 2.6vmin;
    }
    #addMarker, #removeMarker {
        font-size: 1.8vmin;
    }
    #otherControls input[type="range"], #otherControls input[type="number"] {
        width: 20vmin;
        height: 4vmin;
    }
    #camera-stream, #canvas {
        width: 40vw;
        height: auto;
        max-height: 45vh;
        top: 20vh; /* Position closer to the top */
        transform: translateY(-5%); /* Adjust slightly closer upwards */
    }
}

/* Portrait orientation: Desktop or phone held vertically */
@media (orientation: portrait) {
    #controls, #topControls, #otherControls {
        font-size: 4.5vmin;
    }
    #downloadCsvBtn, #deleteData, #toggle-camera-btn, #calibrate-sensor-btn, #take-measurement-btn {
        font-size: 4.2vmin;
    }
    #addMarker, #removeMarker {
        font-size: 4.4vmin;
    }
    #otherControls input[type="range"], #otherControls input[type="number"] {
        width: 40vmin;
        height: 9vmin;
    }
    #camera-stream, #canvas {
        width: 70vw;
        height: auto;
        max-height: 50vh;
        top: 25vh; /* Position closer to the top */
        transform: translateY(-10%); /* Push even more closer upwards for portrait */
    }
}

/* General styling for all elements */
#controls {
    position: fixed;/*absolute;*/
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    font-size: inherit;
}

#topControls {
    position: fixed;/*absolute;*/
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    font-size: inherit;
}

#otherControls {
    position: fixed;/*absolute;*/
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: -65px;
    font-size: inherit;
    display: none;
}

#otherControls input[type="range"], #otherControls input[type="number"] {
    font-size: inherit;
    margin: 5px 0;
}

#otherControls > p {
    gap: 0;
    margin: 5px;
}

select {
    font-size: inherit;
}

#camera-stream, #canvas {
    position: fixed;/*absolute;*/
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    margin: 5px;
}

#histogram {
    display: block;
    width: 300px;
    height: 200px;
}

#downloadCsvBtn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #681f87;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.5;
}

#deleteData {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #100f12ed;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.5;
}

#extraBtnS {
    margin-bottom: 13px;
}

#toggle-camera-btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#calibrate-sensor-btn {
    margin-top: 10px;
    background-color: mediumseagreen;
    opacity: 0.8;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#take-measurement-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #9b59b6;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.5;
}

#addMarker {
    padding: 10px 20px;
    background-color: tan;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: none;
    opacity: 0.9;
}

#removeMarker {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: darkkhaki;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: none;
    opacity: 0.9;
}
