body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(snow, seashell);
    background: linear-gradient(mintcream, moccasin);
}

/*#camera-container {
    position: relative;  Needed for absolute positioning of controls */
    /*width: 640px;  Set a desired width for the video container 
    height: 360px; /* Set a desired height for the video container *

    width: 100%;
    max-width: 80vw;/*720px;  Set a maximum width for larger screens *
    height: auto;
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio *
}*/

#controls {
    position: absolute; /* Position buttons at the bottom */
    bottom: 20px; /* Adjust spacing from bottom */
    right: 20px;  /* Adjust horizontal spacing from right */
    display: flex;
    flex-direction: column;
    /* gap: 0px; */
    font-size: 2.5vmin;
}
#topControls{
    position: absolute; /* Position buttons at the bottom */
    top: 10px; /* Adjust spacing from bottom */
    right: 20px;  /* Adjust horizontal spacing from right */
    display: flex;
    flex-direction: column;
    /* gap: 0px; */
    font-size: 2.5vmin;
}
#otherControls{
    position: absolute; /* Position buttons at the bottom */
    bottom: 20px; /* Adjust spacing from bottom */
    left: 20px;  /* Adjust horizontal spacing from right */
    display: flex;
    flex-direction: column;
    gap: -65px;
    font-size: 2.5vmin;
    display: none;
}
#otherControls>p{
    gap: 0px;
    margin: 5px;
}
/* The number inputs should also be scaled up on vmin!!! */
select{
    font-size: inherit;
}



#camera-stream, #canvas {
    display: none;
}

#camera-stream, img, #canvas {
    /*transform: scale(0.2); /* Reduce video display size by 5 times */
    width: auto; /* Scale video to fit container */
    height: 35vmin;
    /* Warning... long devices are a thing */
    margin: 5px;
}
/* The new image is slightly above the live view... so place the new measurement elsewhere  */
#histogram{
    display: block;
    width: 300px;
    height: 200px;
}

#toggle-camera-btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 3.5vmin;
}

#calibrate-sensor-btn{
    margin-top: 10px;
    background-color: mediumseagreen;
    opacity: 0.8;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 3vmin;
}

#take-measurement-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #9b59b6;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 3vmin;
    opacity: 0.5; 
}
/* Now the top controls */
#addMarker{
    padding: 10px 20px;
    background-color: tan;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 2vmin;
    opacity: 0.9; 
    display: none;
}
#removeMarker{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: darkkhaki;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 2vmin;
    opacity: 0.9; 
    display: none;
}